html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    background: #fdfdfd;
    color: #404040;
}

    body.dark {
        background: #131313;
        color: #e3e3e3;
    }

td, th {
    padding: 1px 4px;
}

a {
    text-decoration: none;
}

.dark a {
    color: #5ae;
}

#wrap {
    padding: 0 3.5%;
}

svg {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;    
}

canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}

#chart {
    position: relative;
    margin-bottom: 50px;
}

.brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #fff;
}

.dark .brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #ddd;
}

.brush:hover rect.extent {
    stroke: #222;
    stroke-dasharray: 5,5;
}

.brush rect.extent:hover {
    stroke-dasharray: none;
}

.resize rect {
    fill: none;
}

.background {
    fill: none;
}

.dark .background {
    fill: none;
}

.axis line, .axis path {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}

.dark .axis line, .dark .axis path {
    stroke: #777;
}

.axis .tick {
    width: 200px;
}

/*Tick Text Style*/
.axis text {   
    text-anchor: right;   
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*axis Lable*/
    .axis text.label {
        cursor: move;
        padding-bottom: 24px;       
    }

.dark .axis text {
    fill: #f2f2f2;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

    .dark .axis text.label {
        fill: #ddd;
    }

.quarter, .third, .half {
    float: left;
}

.quarter {
    width: 23%;
    margin: 0 1%;
}

.third {
    width: 31.3%;
    margin: 0 1%;
}

.half {
    width: 48%;
    margin: 0 1%;
}

h3 {
    margin: 12px 0 9px;
}

    h3 small {
        color: #888;
        font-weight: normal;
    }

p {
    margin: 0.6em 0;
}

small {
    line-height: 1.2em;
}

button[disabled=disabled] {
    color: #555 !important;
    opacity: 0.4;
}

.settings button[disabled=disabled] {
    display: none;
}

.dark button[disabled=disabled] {
    opacity: 0.2;
}

button#keep-data,
button#exclude-data {
    font-weight: bold
}

    button#keep-data:hover {
        color: #080;
    }

    button#exclude-data:hover {
        color: #900;
    }

#food-list {
    width: 100%;
    height: 460px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#legend {
    text-align: left;
    overflow-y: auto;
    border-left: 1px solid rgba(140,140,140,0.5);
}

.row {
    cursor: pointer;
}

    .row:hover {
        font-size: 16px;
        line-height: 1.3em;
    }

.off {
    color: #999;
}

.dark .off {
    color: #555;
}

.dark #legend {
    border-left: 1px solid #777;
}

.color-block, .color-bar {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 1px 4px 1px 0px;
}

#rendered-bar,
#selected-bar {
    width: 0%;
    font-weight: bold;
}

#rendered-bar {
    background: #888;
    border-right: 1px solid #666;
}

#selected-bar {
    background: rgba(160,160,160,0.5);
    border-right: 1px solid #999;
}

.fillbar {
    height: 12px;
    line-height: 12px;
    border: 1px solid rgba(120,120,120,0.5);
    width: 120px;
    display: inline-block;
}

.little-box {
    width: 268px;
    float: left;
}

#header {
    border-bottom: 1px solid rgba(100,100,100,0.35);
    background: #e2e2e2;
    padding: 6px 24px 4px;
    line-height: 24px;
}

.dark #header {
    background: #040404;
    color: #f3f3f3;
}

#header h1 {
    display: inline-block;
    margin: 0px 14px 0 0;
}

#header button {
    vertical-align: top;
}

.controls {
    float: right;
    height: 24px;
    line-height: 24px;
}

.file-upload > input {
    display: none;
}

.file-upload img {
    cursor: pointer;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 12px;
}

.dark ::-webkit-scrollbar-track {
    background: #222;
}

.dark ::-webkit-scrollbar-thumb {
    background: #444;
}

#table {
    text-align: center;
}


table {    
    margin: 0 auto;
}

/*Fonts*/
.font-BB17 {
    font-family: BarlowBold;
    font-size: 17px;
}

.font-RB41 {
    font-family: RobotoBold;
    font-size: 41px;
}

.font-RB17 {
    font-family: RobotoBold;
    font-size: 17px;
}

.font-RR22 {
    font-family: RobotoRegular;
    font-size: 22px;
}

.font-RR17 {
    font-family: RobotoRegular;
    font-size: 17px;
}

.font-RR15 {
    font-family: RobotoRegular;
    font-size: 15px;
}

.font-RM15 {
    font-family: RobotoMedium;
    font-size: 15px;
}

.font-RL17 {
    font-family: RobotoLight;
    font-size: 17px;
}

.font-RB41 {
    font-family: RobotoBold;
    font-size: 41px;
}

/*Font fills*/
/*1= Darker, 7 = lighter*/
.fill1 {
    fill: #04293f;
}

.fill2 {
    fill: #333333;
}

.fill3 {
    fill: #4e4f4f;
}

.fill4 {
    fill: #58595b;
}

.fill5 {
    fill: #5e676d;
}

.fill6 {
    fill: #5e676d;
}

.fill7 {
    fill: #969696;
}

/*Letter Spacing*/

.spacing1{
    letter-spacing: 2px;
}



#FilterableTable {
    overflow-y: auto;   
}


table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #fdfdfd;
}

tr:nth-of-type(even) {
    background: #fafafa;
}

th {
    position: sticky;
    top: -1px;
    z-index: 2;
    box-shadow: 1px 1px 1px 1px #efefef inset, 1px 1px 1px 1px #efefef;
    border-top: 0;
}

th {
    background: #fdfdfd;   
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td, th {
    padding: 6px;
    border: 1px solid #efefef;
    text-align: center;
}

.selected {
    background-color: #e6f1f8 !important;
}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #efefef;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
		Label the data
		*/
        td:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}