html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

body {
   
    font-size: 12px;
    line-height: 1.4em;
    background: #fdfdfd;
/*    color: #404040;
*/}

    body.dark {
        background: #131313;
        color: #e3e3e3;
    }

#titles {  
    margin-bottom: 10px;
    margin-left: 40px;
}

td, th {
    padding: 1px 4px;
}

a {
    text-decoration: none;
}

.dark a {
    color: #5ae;
}

#wrap {
    padding: 0 3.5%;
}

svg {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;    
}

canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}

#chart {
    position: relative;
    margin-bottom: 10px;
}

.brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #fff;
}

.dark .brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #ddd;
}

.brush:hover rect.extent {
    stroke: #222;
    stroke-dasharray: 5,5;
}

.brush rect.extent:hover {
    stroke-dasharray: none;
}

.resize rect {
    fill: none;
}

.background {
    fill: none;
}

.dark .background {
    fill: none;
}

.axis line, .axis path {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}

.dark .axis line, .dark .axis path {
    stroke: #777;
}

.axis .tick {
    width: 200px;
}

/*Tick Text Style*/
.axis text {   
    text-anchor: right;   
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*axis Lable*/
    .axis text.label {
        cursor: move;
        padding-bottom: 24px;       
    }

.dark .axis text {
    fill: #f2f2f2;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

    .dark .axis text.label {
        fill: #ddd;
    }

.quarter, .third, .half {
    float: left;
}

.quarter {
    width: 23%;
    margin: 0 1%;
}

.third {
    width: 31.3%;
    margin: 0 1%;
}

.half {
    width: 48%;
    margin: 0 1%;
}

h3 {
    margin: 12px 0 9px;
}

    h3 small {
        color: #888;
        font-weight: normal;
    }

p {
    margin: 0.6em 0;
}

small {
    line-height: 1.2em;
}

button[disabled=disabled] {
    color: #555 !important;
    opacity: 0.4;
}

.settings button[disabled=disabled] {
    display: none;
}

.dark button[disabled=disabled] {
    opacity: 0.2;
}

button#keep-data,
button#exclude-data {
    font-weight: bold
}

    button#keep-data:hover {
        color: #080;
    }

    button#exclude-data:hover {
        color: #900;
    }

#food-list {
    width: 100%;
    height: 460px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#legend {
    text-align: left;
    overflow-y: auto;
    border-left: 1px solid rgba(140,140,140,0.5);
}

.row {
    cursor: pointer;
}

    .row:hover {
        font-size: 16px;
        line-height: 1.3em;
    }

.off {
    color: #999;
}

.dark .off {
    color: #555;
}

.dark #legend {
    border-left: 1px solid #777;
}

.color-block, .color-bar {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 1px 4px 1px 0px;
}

#rendered-bar,
#selected-bar {
    width: 0%;
    font-weight: bold;
}

#rendered-bar {
    background: #888;
    border-right: 1px solid #666;
}

#selected-bar {
    background: rgba(160,160,160,0.5);
    border-right: 1px solid #999;
}

.fillbar {
    height: 12px;
    line-height: 12px;
    border: 1px solid rgba(120,120,120,0.5);
    width: 120px;
    display: inline-block;
}

.little-box {
    width: 268px;
    float: left;
}

#header {
    border-bottom: 1px solid rgba(100,100,100,0.35);
    background: #e2e2e2;
    padding: 6px 24px 4px;
    line-height: 24px;
}

.dark #header {
    background: #040404;
    color: #f3f3f3;
}

#header h1 {
    display: inline-block;
    margin: 0px 14px 0 0;
}

#header button {
    vertical-align: top;
}

.controls {
    float: right;
    height: 24px;
    line-height: 24px;
}

.file-upload > input {
    display: none;
}

.file-upload img {
    cursor: pointer;
}

/* Scrollbars */

::-webkit-scrollbar-track {  
    background-color: #e6f1f8;    
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #fdfdfd;    
}

::-webkit-scrollbar-thumb {
    background-color: #0c3b5e;   
}


#table {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 1px 1px 10px #efefef, -1px -1px 10px #efefef;
}


table {    
    margin: 0 auto;   
}

/*Fonts*/
.font-BB17 {
    font-family: BarlowBold;
    font-size: 2.15vmin;
}

.font-RB30 {
    font-family: RobotoBold;
    font-size: 3.8vmin;
}

.font-RB17 {
    font-family: RobotoBold;
    font-size: 2.15vmin;
}

.font-RR22 {
    font-family: RobotoRegular;
    font-size: 22px;
}

.font-RR17 {
    font-family: RobotoRegular;
    font-size: 20px;
}

.font-RR15 {
    font-family: RobotoRegular;
    font-size: 18px;
}

.font-RB15 {
    font-family: RobotoBold;
    font-size: 18px;
}

.font-RR14 {
    font-family: RobotoRegular;
    font-size: 17px;
}

.font-RM15 {
    font-family: RobotoMedium;
    font-size: 18px;
}

.font-RM14 {
    font-family: RobotoMedium;
    font-size: 17px;
}

.font-RL17 {
    font-family: RobotoLight;
    font-size: 20px;
}

.font-RB41 {
    font-family: RobotoBold;
    font-size: 41px;
}

/*Font fills*/
/*1= Darker, 7 = lighter*/
.fill1 {
    fill: #04293f;
}

.fill2 {
    fill: #333333;
}

.fill3 {
    fill: #4e4f4f;
}

.fill4 {
    fill: #58595b;
}

.fill5 {
    fill: #5e676d;
}

.fill6 {
    fill: #5e676d;
}

.fill7 {
    fill: #969696;
}

/*Letter Spacing*/

.spacing1{
    letter-spacing: 2px;
}



#FilterableTable {
    overflow-y: auto;
    border: 1px solid rgba(173, 173, 173, 0.4);
}


table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #fdfdfd;
}

tr:nth-of-type(even) {
    background: #fafafa;
}

th {
    position: sticky;
    top: -1px;
    z-index: 2;
    box-shadow: 1px 1px 1px 1px #efefef;
    border-top: 0;
}

th {
    background: #fdfdfd;   
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td, th {
    padding: 6px;
    border: 1px solid #efefef;
    text-align: center;
    padding: 10px;
}

.selected {
    background-color: #e6f1f8 !important;
}

/*Icons */
.reload-icon {  
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ERefresh%3C/title%3E%3Cpath d='M320 146s24.36-12-64-12a160 160 0 10160 160' fill='none' stroke='%235e676d' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/%3E%3Cpath fill='none' stroke='%235e676d' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M256 58l80 80-80 80'/%3E%3C/svg%3E");
}

.file-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EFolder%3C/title%3E%3Cpath d='M440 432H72a40 40 0 01-40-40V120a40 40 0 0140-40h75.89a40 40 0 0122.19 6.72l27.84 18.56a40 40 0 0022.19 6.72H440a40 40 0 0140 40v240a40 40 0 01-40 40zM32 192h448' fill='none' stroke='%235e676d' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3C/svg%3E");
}

.download-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EArrow Down%3C/title%3E%3Cpath fill='none' stroke='%235e676d' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 268l144 144 144-144M256 392V100'/%3E%3C/svg%3E");
}

.icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

/*MOZ*/
@supports (-moz-appearance:none) {
    .mozFontFix {
        font-weight: normal;
    }  
}

/*fontface*/
@font-face {
    font-family: BarlowBold;
    src: url('./fonts/Barlow-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoBold;
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoMedium;
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoLight;
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}